{% extends 'base.html' %}

{% block title %}
     Home
{% endblock title %}

{% block nav1 %}
     Home
{% endblock nav1%}

{% block nav2 %}
     <h1>The Grand Junction Center For Uranium Exploration</h1>
{% endblock nav2%}

{% block body %}

<div class="homepage_container">
          <img src="{{url_for('static', filename='img/adits_925x500.jpg')}}" />
          <h4>Photo: Monument 2 Mine, Monument Valley, Arizona</h4>
          <p>Copyright &copy;2020, Stanley Jay Apps. (This site is not affiliated with the U.S. Department of Energy)</p>
     <div  class="homepage_content">
          <p>The arrival of Lieutenant Philip Leahy in 1943 established Grand Junction, Colorado, as a hub for the uranium mining industry in the United States.  Under secret orders, Leahy proceeded to set up an office near the confluence of the Gunnison and Colorado rivers for the sole purpose of finding uranium for the Manhattan Project, a project that developed the world's first atomic weapons. Since that time, the Grand Junction Office, under the auspices of the U.S. Atomic Energy Commission (AEC), currently known as the U.S. Department of Energy has been a center for uranium mining, milling, exploration, and remediation. This web site is dedicated to making technical data related to uranium ore deposition accessible to all and is aptly headquartered in Grand Junction.
          </p>
     </div>
</div>

{% endblock body %}
