{% extends 'base.html' %}

{% block title %}
     - Trading Post
{% endblock %}

{% block nav1 %}
     <span id="title_tp">Trading Post</span>
{% endblock nav1%}

{% block body %}
<!-- <div class="imgcontent"> -->
<div class="tradingpost_container">
     <h1>The Trading Post</h1>
     <img src="{{url_for('static', filename='img/JPmine_OreTruck_500x338.jpg')}}" />
     <h2>Jackpile mine, New Mexico</h2>
     {% if current_user.isAdmin_yn == 'y' %}
       <p>Congratulations! You are an Admin </p>
     {% else %}
       <p>Shame on you - you have no privelages </p>
     {% endif %}
</div>
{% endblock %}
