
/* .homepage_container {
  position:relative;
  top:100px;
}

.homepage_container h4 {
  background:lightgray;
  color: #377ba8;
  padding: 5px 0px 5px 0px;
}

.homepage_container img {
  width: 100%;
}

.homepage_content {
  font-family: Times, sans-serif;
  font-size: 16pt;
  margin: 50px;
  position: absolute;
  top: 350px;
  color: #f1f1f1;
  width: 90%;
} */

/* .text-overlay{
  position: absolute;
  left:5%;
  top:5%;
} */
