

.editCol1{
	font: 16px Arial, Helvetica, sans-serif;
	font-style: bold;
	color:blue;
}

.editCol2{
	font: 13px Arial, Helvetica, sans-serif;
}

.editDD {
	margin: 0;
	padding: 0;
	top: 0;
	width: 15%;
	background-color: lightgray;
	color: #377ba8;
	border-style: solid;
	border-color: silver;
}

.form-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 24px;
	padding-bottom: 3px;
}


.editDistrictDeleteButton, .editCategoryDeleteButton, .editSpecialDeleteButton {color:#FF6347; font-style: italic;}
.editDistrictDeleteButton:hover, .editCategoryDeleteButton:hover, .editSpecialDeleteButton:hover {
    background-color: skyblue;
    cursor: pointer;
}
