/* nav {
  background: lightgray;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  top : 0;
  left: 0;
  z-index: 5;
}

#nav2 {
  background: lightgray;
  border: 2px solid darkgray;

  font-family: Times, sans-serif;
  width: 100%;
  position: fixed;
  top : 40px;
  z-index: 5;
}

#nav2 h1, h2 {
  text-align: center;
  color: #255474;
}

.nav h1 {
  flex: auto;
  font-family: Times, sans-serif;
  font-size: 16pt;
  margin: 0;
  color: #377ba8;
  padding: 0px 0px 0px 10px;
}

.nav p {
  flex: auto;
  font-family: Times, sans-serif;
  font-size: 36pt;
  margin: 20;
  color: #377ba8;
  padding: 0px 0px 0px 10px;
}

.nav ul {
  display: flex;
  margin: 0;
  padding: 0px 25px 0px 0px;
}

.nav ul a {
  color: #377ba8;
}

.nav ul li {
  display: block;
  padding: 0.5rem;
}

#nav_list a:hover {
    background-color: #666;
    color: white;
} */
