<!DOCTYPE html>
<html  lang="en">
<head>

    <title>UX - {% block title %}{% endblock %} </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <!-- Links to my css static files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/authpage.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tradingpost.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prospects.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/literature_main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/literature_edit.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/alerts.css') }}">


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>

<body>

<div>
  <nav class="nav">
    <h1> UX {% block nav1 %}{% endblock nav1 %} </h1>
    <ul id="nav_list">
       <li><a href="{{ url_for('home.homepage') }}">Home</a>
       <li><a href="{{ url_for('literature.literature') }}">Literature</a>
       <li><a href="{{ url_for('deposits.deposits_home') }}">Ore Deposits</a>
       <li><a href="{{ url_for('maps.maps_home') }}">Maps</a>
       <li><a href="{{ url_for('trading_post.trading_post') }}">Trading Post</a>
       <li><a href="{{ url_for('prospects.prospects_home') }}">Prospects</a>
         {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
         {% else %}
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
            <li><a href="{{ url_for('auth.register') }}">Register</a>
         {% endif %}
    </ul>
  </nav>
</div>

<div id="nav2">
  {% block nav2 %}{% endblock nav2 %}
</div>

{% block body %}{% endblock body %}

<section>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <!-- <div class="alert alert-{{ category }}" style="position:fixed; bottom:0px;"> -->
          <div class="alert alert-{{ category }}" style="position:fixed; bottom:0px;">
          <!-- <div style="position:fixed; bottom:0px;"> -->
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block authcontent %}{% endblock authcontent%}
</section>

</body>

</html>
